.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* User Defined Classes*/

.container{
    display: flex;
}

.ace_editor{
    border-radius: 10px;
}

.cards{
}

.row-element{
    padding: 10px;
}

.divider{
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)) !important;
}

.scroll{
    background-color: white;
    border: solid black;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 500px;
    width: 500px;
}
